.form-control, .btn-group-sm > .btn, .btn-sm
{
	height: auto;
	width: auto;
	font-size: inherit;
}

#loginControlWrapper, #streamHelpWrapper, #info
{
	width: 80%;
}

.userListViewer, .userListPublisher
{
	display: none !important;
}

.userBadge
{
	font-size: .7rem;
}

#sidebarWrapper.toggleOn
{
	width: 100px;
}

#sidebarToggle.toggleOff
{
}

.chatSender
{
	width: 75px;
}

.userListEntryUsername, .userListEntryStatus, .userListEntryUsernameNote, .chatSender
{
	font-size: .7rem;
}
